body{
    margin:0;
    font-family:"Poppins",sans-serif;
    background:#fff0f6;
    text-align:center;
}

#loading-screen,
#main,
#msg{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
}

#loading-screen{
    display:flex;
}

#main{
    display:none;
}

#msg{
    display:none;
}
}

.hide{
    display:none;
}

#loading-screen{
    position:fixed;
    inset:0;
    background:linear-gradient(135deg,#fff0f6,#ffd9ea,#ffc2dc);
    z-index:9999;
    transition:opacity 1s;
}

.loader-heart{
    font-size:70px;
    animation:heartBeat 1.2s infinite;
}

#loading-screen h1{
    color:#d63384;
    font-size:28px;
    margin:15px 0 10px;
}

#loading-screen p{
    color:#666;
}

#gift{
    font-size:100px;
    cursor:pointer;
    transition:.4s;
}

#gift:hover{
    transform:scale(1.1);
}

#msg h1{
    color:#ff4f9a;
}

@keyframes heartBeat{
    0%{transform:scale(1);}
    25%{transform:scale(1.2);}
    50%{transform:scale(.95);}
    75%{transform:scale(1.15);}
    100%{transform:scale(1);}
}
.gift-box{
    position:relative;
    width:180px;
    height:180px;
    cursor:pointer;
    animation:float 2s ease-in-out infinite;
}

.box{
    position:absolute;
    bottom:0;
    width:180px;
    height:120px;
    background:#ff4f9a;
    border-radius:10px;
}

.lid{
    position:absolute;
    top:25px;
    left:-5px;
    width:190px;
    height:35px;
    background:#ff80bf;
    border-radius:10px;
    transition:.8s;
}

.ribbon-v{
    position:absolute;
    left:80px;
    width:20px;
    height:180px;
    background:white;
}

.ribbon-h{
    position:absolute;
    top:70px;
    width:180px;
    height:20px;
    background:white;
}

.bow{
    position:absolute;
    top:0;
    left:68px;
    width:45px;
    height:45px;
    background:white;
    border-radius:50%;
}

@keyframes float{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-10px);
    }

}
